/* Hero Section */
.section-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 8rem;
    background-color: var(--black);
    gap: 2rem;
  }

  .reverse {
    flex-direction: row-reverse;
  }
  
  .text-container {
    flex: 1;
    
  }
  
  .section-heading {
    font-size: 3rem;
    font-weight: bold;  
    color: var(--white);
  }
  .section-para{
    color: var(--white);
    font-size: 1rem;
    padding: 30px 0;
  }
  
  .image-container {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .shoe-image {
    width: 80%;
    max-width: 500px;
    height: auto;
  }
 button:hover{
    color: var(--white);
    background-color: var(--orange);
  }
  @media screen and (max-width:1024px) {
    .section-container{
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    .shoe-image{
      height: 65%;
      width: auto;
      padding: 0 40px;
    }
  }
  
  

